/* import flexboxgrid */
@import 'flexboxgrid.min.css';

/* import fonts */
@font-face {
    font-family: 'Gotham Bold';
    src: url('../fonts/gotham-bold.otf');
}

@font-face {
    font-family: 'Gotham Medium';
    src: url('../fonts/gotham-medium.otf');
}

@font-face {
    font-family: 'Gotham Book';
    src: url('../fonts/gotham-book.otf');
}

@font-face {
    font-family: 'Gotham Light';
    src: url('../fonts/gotham-light.otf');
}

@font-face {
    font-family: 'Open Sans';
    src: url('../fonts/open-sans-regular.otf');
}

@font-face {
    font-family: 'Open Sans Light';
    src: url('../fonts/open-sans-light.ttf');
}

/* general styles */
html,
body {
  margin: 0;
  padding: 0;
  color: #343434;
  font-family: 'Gotham Book';
}

.row {
  padding: 0;
  margin: 0;
  width: 100vw;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.center {
  text-align: center;
}

.center-margins {
  margin: 0 auto;
}

.left {
  text-align: left;
}

.italic {
  font-style: italic;
}

.underline {
  text-decoration: underline;
}

.white {
  color: #fff;
}

.blue {
  color: #008fff;
}

.orange {
  color: #ffa800;
}

.purple {
  color: #7e1fff;
}

.gray {
  color: #343434;
}

.bold {
  font-weight: bold;
}

.uppercase {
  text-transform: uppercase;
}

.gap {
  margin-top: 30px;
}

.white-box {
  background: #fff;
  border-radius: 30px;
  box-shadow: 5px 5px 25px #5f5f5f;
  padding: 20px 50px 30px 50px;
  max-width: 400px;
  margin: 0 auto;
  position: relative;
  z-index: 10;
}

.white-box-no-shadow {
  background: #fff;
  border-radius: 30px;
  padding: 50px;
}

.orange-button {
  color: #fff;
  text-transform: uppercase;
  background-color: #ffa800;
  border: 1px solid #ffa800;
  padding: 10px 50px;
  border-radius: 30px;
  font-family: 'Gotham Medium';
  font-size: 14px;
}

.blue-button {
  color: #fff;
  text-transform: uppercase;
  background-color: #008fff;
  border: 1px solid #008fff;
  padding: 10px 50px;
  border-radius: 30px;
  font-family: 'Gotham Medium';
  font-size: 14px;
}

.purple-button {
  color: #fff;
  text-transform: uppercase;
  background-color: #7e1fff;
  border: 1px solid #7e1fff;
  padding: 10px 50px;
  border-radius: 30px;
  font-family: 'Gotham Medium';
  font-size: 14px;
}

.orange-underline {
  width: 335px;
  height: 0;
  border: 4px solid #ffa800;
  border-radius: 10px;
  margin: 0px auto;
}

@media (max-width: 400px) {
  .orange-underline {
    width: 250px;
  }
}

.white-underline {
  width: 155px;
  height: 0;
  border: 4px solid #fff;
  border-radius: 10px;
  margin: 20px auto;
}

.thin-gray-underline {
  width: 80%;
  height: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.2);
  margin: 80px auto 40px auto;
}

/* get to know us dropdown navigation styles */

.get-to-know-us-menus-container {
  position: relative;
  margin-top: 100px;
  line-height: 2;
  padding-top: 50px;
  padding-bottom: 50px;
  min-height: 380px;
  z-index: 100000;
  position: absolute;
  top: -9999999px;
  opacity: 0;
  background: #fff;
}

.arrow-up-1 {
  position: absolute;
  right: 680px;
  top: -15px;
  z-index: 10000;
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 15px solid white;
}

@media (max-width: 1060px) {
  .arrow-up-1 {
    right: 555px;
  }
}

.get-to-know-us-menus-container p.gray {
  font-family: 'Gotham Book';
  font-size: 16px;
  margin-bottom: 30px;
}

.get-to-know-us-menus-container h3.blue {
  font-size: 20px;
  font-family: 'Gotham Book';
}

#menu-get-to-know-us-image-menu {
  padding: 0;
}

#menu-get-to-know-us-image-menu li {
  display: inline-flex !important;
}

#menu-get-to-know-us-image-menu .team-card-small {
  width: 143px !important;
  margin: 5px;
  height: 210px !important;
  line-height: 1 !important;
}

#menu-get-to-know-us-image-menu .team-card-small .team-card-text {
  padding-top: 120px !important;
}

#menu-get-to-know-us-image-menu .team-card-small .team-card-text .white-underline {
  width: 90px;
  border: 2px solid #fff;
  margin-bottom: -3px;
}

#menu-get-to-know-us-image-menu .team-card-small .team-card-text p {
  font-size: 12px !important;
}

.join-us-container {
  width: 620px;
}

.join-us-container h3.blue {
  float: left;
}

.join-us-container ul {
  float: right;
}

#menu-item-202 a,
#menu-item-212 a {
  color: #fff;
  text-transform: uppercase;
  background-color: #ffa800;
  border: 1px solid #ffa800;
  padding: 15px 25px 12px 25px;
  border-radius: 30px;
  font-family: 'Gotham Medium';
  font-size: 14px;
}

@media (min-width: 1150px) {
  .get-to-know-us-menus-container .row {
    padding: 0 80px;
  }
}

@media (min-width: 1400px) {
  .get-to-know-us-menus-container .row {
    padding: 0 150px;
  }
}

@media (min-width: 1800px) {
  .get-to-know-us-menus-container .row {
    padding: 0 250px;
  }
}

@media (min-width: 2200px) {
  .get-to-know-us-menus-container .row {
    padding: 0 350px;
  }
}








/* lead solutions dropdown navigation styles */

.lead-solutions-menus-container {
  position: relative;
  margin-top: 100px;
  line-height: 2;
  padding-top: 50px;
  padding-bottom: 50px;
  min-height: 380px;
  z-index: 100000;
  position: absolute;
  top: -9999999px;
  opacity: 0;
  background: #fff;
}

.arrow-up-2 {
  position: absolute;
  right: 420px;
  top: -15px;
  z-index: 10000;
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 15px solid white;
}

@media (max-width: 1060px) {
  .arrow-up-2 {
    right: 320px;
  }
}

@media (min-width: 1150px) {
  .lead-solutions-menus-container .row {
    padding: 0 80px;
  }
}

@media (min-width: 1400px) {
  .lead-solutions-menus-container .row {
    padding: 0 150px;
  }
}

@media (min-width: 1800px) {
  .lead-solutions-menus-container .row {
    padding: 0 250px;
  }
}

@media (min-width: 2200px) {
  .lead-solutions-menus-container .row {
    padding: 0 350px;
  }
}

.lead-solutions-menus-container ul li img {
  height: 75px;
}

.lead-solutions-menus-container h3.blue {
  font-size: 20px;
  font-family: 'Gotham Book';
}

.lead-solutions-menus-container h4.gray {
  font-family: 'Gotham Medium';
  font-size: 14px;
}

.lead-solutions-menus-container p.gray {
  font-family: 'Gotham Book';
  font-size: 12px;
  margin-bottom: 30px;
}

.lg-border {
  border-right: 1px solid rgba(0, 0, 0, 0.3);
}

#menu-item-181 a {
  color: #fff;
  text-transform: uppercase;
  background-color: #ffa800;
  border: 1px solid #ffa800;
  padding: 15px 25px 12px 25px;
  border-radius: 30px;
  font-family: 'Gotham Medium';
  font-size: 14px;
}

#menu-lead-gen-top-of-funnel-menu li a,
#menu-lead-gen-top-of-funnel-menu li a:visited {
  color: #008fff;
  font-family: 'Open Sans Light';
  font-size: 14px;
}

#menu-item-183 a {
  pointer-events: none;
  cursor: default;
  font-family: 'Gotham Book' !important;
  font-size: 20px !important;
}

#menu-item-190 a {
  color: #fff !important;
  text-transform: uppercase;
  background-color: #008fff;
  border: 1px solid #008fff;
  padding: 5px 0;
  width: 110px;
  text-align: center;
  border-radius: 30px;
  font-family: 'Gotham Medium' !important;
  font-size: 10px !important;
  display: block;
  margin-top: 20px;
}

#menu-lead-gen-bottom-of-funnel-menu li a,
#menu-lead-gen-bottom-of-funnel-menu li a:visited {
  color: #ffa800;
  font-family: 'Open Sans Light';
  font-size: 14px;
}

#menu-item-192 a {
  pointer-events: none;
  cursor: default;
  font-family: 'Gotham Book' !important;
  font-size: 20px !important;
}

#menu-item-195 a {
  color: #fff !important;
  text-transform: uppercase;
  background-color: #ffa800;
  border: 1px solid #ffa800;
  padding: 5px 0;
  width: 110px;
  text-align: center;
  border-radius: 30px;
  font-family: 'Gotham Medium' !important;
  font-size: 10px !important;
  display: block;
  margin-top: 20px;
}

#menu-lead-gen-research-lead-gen-menu li a,
#menu-lead-gen-research-lead-gen-menu li a:visited{
  color: #7e1fff;
  font-family: 'Open Sans Light';
  font-size: 14px;
}

#menu-item-197 a {
  pointer-events: none;
  cursor: default;
  font-family: 'Gotham Book' !important;
  font-size: 20px !important;
}

#menu-item-201 a {
  color: #fff !important;
  text-transform: uppercase;
  background-color: #7e1fff;
  border: 1px solid #7e1fff;
  padding: 5px 0;
  width: 110px;
  text-align: center;
  border-radius: 30px;
  font-family: 'Gotham Medium' !important;
  font-size: 10px !important;
  display: block;
  margin-top: 20px;
}

#menu-item-190,
#menu-item-195,
#menu-item-201 {
  position: absolute !important;
  bottom: 60px !important;
}


/* main navigation styles */

.main-navbar-menus {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  background: #008fff;
  height: 100px;
  line-height: 100px;
  z-index: 100;
}
.menu-home-logo-menu-container {
  position: absolute;
  left: 80px;
}

.menu-home-logo-menu-container img {
  height: 40px;
  margin-top: 30px;
}

.menu-navbar-container {
  position: absolute;
  right: 80px;
}

/* #menu-navbar, #menu-home-logo-menu {
  height: 70px;
  line-height: 70px;
} */

#menu-navbar li {
  /* position: relative; */
  display: inline-flex;
  margin: 0 10px;
}

#menu-navbar li a,
#menu-navbar li a:visited {
  color: #fff;
  font-size: 14px;
  text-transform: uppercase;
}

/* #menu-navbar li a {
  display: block;
} */

#menu-navbar ul {
  position: absolute;
  top: -9999999px;
  left: 0;
  opacity: 0;
  background: #ccc;
}

#menu-navbar li:hover > ul {
  position: absolute;
  top: 100%;
  left: 0;
  opacity: 1;
}



/* #menu-item-24:hover ~ .lead-solutions-menus-container {
  opacity: 1;
} */

#menu-navbar .sub-menu {
  width: 90vw;
}

@media (max-width: 1060px) {
  .menu-home-logo-menu-container {
    left: -20px;
  }
  .menu-navbar-container {
    right: 20px;
  }
  #menu-navbar li a,
  #menu-navbar li a:visited {
    font-size: 12px;
  }
}



/* mobile navigation */

.menu-mobile-navigation-container {
  display: none;
}

@media (max-width: 992px) {
  .lead-solutions-menus-container,
  .get-to-know-us-menus-container {
    display: none;
  }
  .main-navbar-menus {
    position: absolute;
    top: 0;
    left: 0;
    background: transparent !important;
  }
}

#responsive-menu-button {
  position: absolute !important;
  top: 40px !important;
  right: 20px !important;
  z-index: 10000 !important;
  background: transparent !important;
  border: none !important;
}

#responsive-menu-container {
  padding-top: 50px !important;
}


/* homepage styles */


.home h2.blue {
  font-size: 30px;
  font-family: 'Gotham Light';
  margin-top: 40px;
}


/* hero carousel */

.hero {
  min-height: 150vh;
  color: #fff;
  padding: 110px 120px 0 120px;
  background-image: url('../images/homepage/hero-bg.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center top;
}

@media (max-width: 992px) {
  .hero {
    padding: 110px 40px 0 40px;
  }
}

.hero h2 {
  font-size: 60px;
  font-family: 'Gotham Light';
  padding: 0;
}

.hero h1 {
  font-size: 80px;
  font-family: 'Gotham Bold';
  padding: 0;
  margin-top: -40px;
}

.hero h4 {
  font-family: 'Gotham Light';
  font-size: 30px;
  max-width: 950px;
  margin: 0 auto;
}

.hero p {
  font-family: 'Open Sans Light';
  font-size: 18px;
  max-width: 950px;
  margin: 0 auto;
  margin-top: 40px;
}




/* info rows */

.home .info-row {
  margin-top: 100px;
}


.home .info-row img {
  width: 100%;
  display: block;
  max-width: 700px;
  margin: 10px auto 0 auto;
}

@media (max-width: 1250px) {
  .home .info-row img {
    margin: 60px auto 0 auto;
  }
}

@media (max-width: 1030px) {
  .home .info-row img {
    margin:100px auto 0 auto;
  }
}

.home .info-row h3 {
  font-size: 35px;
  font-family: 'Gotham Light';
}

.home .info-row h4 {
  font-size: 20px;
  font-family: 'Gotham Medium';
  line-height: 1.5;
  margin-top: -15px;
}

.home .info-row p {
  font-family: 'Open Sans Light';
  line-height: 2;
  font-size: 15px;
}

.home .info-row p:nth-of-type(1) {
  margin-top: -10px;
}

.home .desktop-info-rows{
  display: none;
}

.home .info-row-mobile {
  display: none
}

.info-row-mobile .white-box.white-box-no-margins{
  margin-top: 400px;
}

@media (min-width: 993px) {
  .home .desktop-info-rows{
    display: block !important;
    margin-top: -460px;
  }
  .home .info-row-mobile {
    display: none !important;
  }
}

@media (max-width: 992px) {
  .home .row.info-row.info-row-1,
  .home .row.info-row.info-row-2 {
    display: none !important;
    /* margin-top: -460px !important; */
  }
  .home .info-row-mobile {
    display: block !important;
    margin-top: -350px;
  }
}



/* funnel section */

.funnel-section {
  min-height: 120vh;
  background-image: url('../images/homepage/lower-home-bg.png');
  position: relative;
  z-index: 1;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center bottom;
  margin-top: -400px;
  padding-top: 600px;
}

.funnel-section h2.white,
.funnel-section h3.white{
  font-family: 'Gotham Light';
}

.funnel-section h2.white {
  font-size: 32px;
}

.funnel-section h3.white {
  font-size: 18px;
  margin-top: 30px;
  margin-bottom: 70px;
}

.funnel-section .white-box-row {
  padding: 0 120px;
}

.funnel-section .white-box-no-shadow {
  min-height: 290px;
  padding: 40px 0;
}

.funnel-section .white-box-no-shadow img {
  height: 120px;
  width: auto;
  margin-top: 10px;
  margin-bottom: 30px;
}

.funnel-section .white-box-no-shadow h3 {
  font-size: 26px;
}

@media (max-width: 1260px) {
  .funnel-section .white-box-row {
    padding: 0 60px;
  }
}

@media (max-width: 1083px) {
  .funnel-section .white-box-row {
    padding: 0 15px;
  }
}

@media (max-width: 992px) {
  .funnel-section {
    padding-bottom: 200px;
  }
  .funnel-section .white-box-no-shadow {
    min-height: 290px;
    margin: 40px auto 0 auto;
    padding: 40px 0;
    max-width: 400px;
  }
}

/* audiences section */

.home .map {
  display: block;
  width: 80%;
  margin: 60px auto 100px auto !important;
  min-width: 290px;
  max-width: 1150px;
}


/* icons section */

.home .icons-row img {
  width: 120px;
}


/* team section */

@media (min-width: 1100px) {
  .team-card-row {
    padding: 0 100px;
  }
}

@media (min-width: 1335px) {
  .team-card-row {
    padding: 0 170px;
  }
}

@media (min-width: 1500px) {
  .team-card-row {
    padding: 0 270px;
  }
}

@media (min-width: 1750px) {
  .team-card-row {
    padding: 0 370px;
  }
}

@media (min-width: 1950px) {
  .team-card-row {
    padding: 0 470px;
  }
}

@media (min-width: 2250px) {
  .team-card-row {
    padding: 0 570px;
  }
}

.team-card {
  width: 100%;
  height: 300px;
  max-width: 236px;
  margin: 0 auto;
  border-radius: 20px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin-top: 40px;
}

.team-card-text {
  padding-top: 175px;
}

.team-card-1 {
  background-image: url('../images/homepage/team-1.png');
}

.team-card-2 {
  background-image: url('../images/homepage/team-2.png');
}

.team-card-3 {
  background-image: url('../images/homepage/team-3.png');
}

.team-card-4 {
  background-image: url('../images/homepage/team-4.png');
}


/* clients section */

.clients-row {
  line-height: 90px;
  margin-top: 40px;
}

.clients-row img {
  display: block;
  max-width: 100%;
}

@media (max-width: 992px) {
  .clients-row img {
    margin: 15px auto;
  }
}

@media (min-width: 993px) {
  .clients-row .image-container-1,
  .clients-row .image-container-3,
  .clients-row .image-container-5  {
    margin-top: 20px;
  }
  .clients-row .image-container-4 {
    margin-top: 30px;
  }
}


/* footer styles */

footer {
  background: #343434;
  color: #fff;
  margin-top: 140px;
  padding-top: 75px;
}

footer p {
  font-family: 'Gotham Book';
  font-size: 14px;
}

footer ul {
  padding: 0;
  line-height: 2;
  margin-top: -5px;
}

footer p.address {
  line-height: 2;
}

footer a,
footer a:visited,
footer p.address {
  color: #fff;
  font-family: 'Open Sans Light';
  font-size: 12px;
}

.footer-bottom-row {
  background: #464646;
}

#menu-footer-logo-menu img {
  display: block;
  height: 90px;
  margin: 10px auto;
}

.menu-item-144 a,
.menu-item-145 a,
.menu-item-146 a {
  font-family: 'Gotham Book';
  font-size: 14px;
}

#menu-social-menu li {
  display: inline-flex;
}

#menu-social-menu li img {
  height: 30px;
}

.footer-bottom-row {
  margin-top: 75px;
  text-align: center;
  padding: 20px 0 5px 0;
}

.footer-bottom-row ul li {
  display: inline-flex;
  margin: 0 10px;
}

.footer-bottom-row ul li a {
  font-size: 10px;
}

.footer form {
  padding-bottom: 15px !important;
}

.tnp-field.tnp-field-email label {
  display: none !important;
}

.tnp-field.tnp-field-email input {
  border-radius: 4px;
}

.tnp-field.tnp-field-email input {
  height: 30px !important;
}

.tnp-field.tnp-field-button input {
  color: #fff !important;
  text-transform: uppercase !important;
  background-color: #ffa800 !important;
  border: 1px solid #ffa800 !important;
  /* padding: 10px 50px !important; */
  border-radius: 30px !important;
  font-family: 'Gotham Medium' !important;
  font-size: 12px !important;
}

@media (min-width: 1170px) {
  .footer-row {
    padding: 0 80px;
  }
}

@media (min-width: 1330px) {
  .footer-row {
    padding: 0 120px;
  }
}

@media (min-width: 1500px) {
  .footer-row {
    padding: 0 140px;
  }
  footer p {
    font-size: 14px;
  }
  .menu-item-144 a,
  .menu-item-145 a,
  .menu-item-146 a {
    font-size: 14px;
  }
  footer a,
  footer a:visited,
  footer p.address {
    font-size: 12px;
  }
}

@media (min-width: 1800px) {
  .footer-row {
    padding: 0 240px;
  }
}

@media (min-width: 2050px) {
  .footer-row {
    padding: 0 340px;
  }
  footer p {
    font-size: 16px;
  }
  .menu-item-144 a,
  .menu-item-145 a,
  .menu-item-146 a {
    font-size: 16px;
  }
  footer a,
  footer a:visited,
  footer p.address {
    font-size: 14px;
  }
}

@media (min-width: 2350px) {
  .footer-row {
    padding: 0 440px;
  }
  footer p {
    font-size: 18px;
  }
  .menu-item-144 a,
  .menu-item-145 a,
  .menu-item-146 a {
    font-size: 18px;
  }
  footer a,
  footer a:visited,
  footer p.address {
    font-size: 16px;
  }
}

/* hide footer on mobile */
@media (max-width: 992px) {
  footer {
    display: none;
  }
}
